@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation");



/* body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 48px;
    background-color:yellowgreen;

}

nav {
    border-bottom: 1px solid;
    border-bottom-color: darkgreen;
    padding: 16px;
    background-color: red;
}

nav a {
    color: white;

}


img {
    height: 200px;
}


a {
    text-decoration: none;
    color: green;
}

a:hover {

    background-color: lightgreen;
}



h1 {
    color: darkgreen;
    font-family: Rancho;
    font-size: 60px;
    margin: 40px 0;

}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h3 {
    margin: 0px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

.three-d {
    font-family: Abril+Fatface;
    font-size: 4em;
    text-align: center;
    background-color:#a094d1;
  }
